/* TODO: Why do we need to wrap it with a layer base? */
@layer base {
  @font-face {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('sharpgrotesk.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Sharp Grotesk Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 135.54%;
    descent-override: 39.21%;
    line-gap-override: 0%;
    size-adjust: 77.7%;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 90%;
    descent-override: 22.43%;
    line-gap-override: 0%;
    size-adjust: 107.64%;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/inter-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 500;
    src: local('Arial');
    ascent-override: 100.83%;
    descent-override: 31.19%;
    line-gap-override: 0%;
    size-adjust: 108.81%;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/inter-semibold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 108.68%;
    descent-override: 33.36%;
    line-gap-override: 0%;
    size-adjust: 101.72%;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/inter-bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 700;
    src: local('Arial Bold');
    ascent-override: 94.12%;
    descent-override: 23.46%;
    line-gap-override: 0%;
    size-adjust: 102.92%;
  }
}
