@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1568px] px-12;

    @screen 2xl {
      @apply px-11;
    }

    @screen lg {
      @apply px-7;
    }

    @screen md {
      @apply px-4;
    }
  }
}

@layer utilities {
  /*
    Handy CSS class to prevent Input background color becomes yellow in Chrome on autofill.
    Works as well with inputs with transparent background.

    https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  */
  .remove-autocomplete-styles:-webkit-autofill,
  .remove-autocomplete-styles:-webkit-autofill:hover,
  .remove-autocomplete-styles:-webkit-autofill:focus {
    transition: background-color 5000s;
  }
}
